
<div class="content">
  <div class="container-fluid">
   <div class="row">
    <div class="col-md-12">
     <div class= "card">
      <div class= "header">
         
                <a href="/conversations" target= "_parent">
                    
                <btn class="btn btn-sm btn-success "><i class="fas fa-long-arrow-alt-left"></i></btn>
                </a>
           
                                 
       
            <h4 class= "title text-center">Your conversation</h4>
          <p class= "category text-center">Chatting with <%= @conversation.with(current_user).name %></p>
       
      
      
      </div>
      <hr>
      <div class="row">
       <div class="col-md-12">
         
                            <div class="content">
                                <ul class="list-unstyled team-members">
                                   
                                            <li>
                                                <div class="row">
                                                    
                                                    <div class="col-lg-12">
                                                       <div id= "conversation-main">
                                                         <div id= "conversation-body">
                                                         <%= render @conversation.personal_messages %>
                                                         </div>
                                                         
                                                         <%= form_for @personal_message do |f| %>
                                                          <%= hidden_field_tag 'conversation_id' , @conversation.id %>
                                                            <div class="form-group">
                                                                <label>Talk to me</label>
                                                                
                                                          <%= f.text_area :body, class: "form-control border-input" %>
                                                                </div>
                                                          
                                                          
                                                          <div class="row">
                                            <div class="col-md-12">
                                                <div class="text-center">
                                             <%= f.submit 'Send Message', class: 'btn btn-info btn-fill btn-wd' %>
                                            
                                        </div>
                                        <div class="clearfix"></div>
                                        </div>
                                    </div>
                                                         <% end %>
                                                          </div>
                                                                                                                                                                        
                                                     </div>
                                                            


                                                    <!--<div class="col-xs-3 text-right">-->
                                                    <!--    <a href="#" target= "_parent">-->
                                                    <!--    <btn class="btn btn-sm btn-success "><i class="fas fa-long-arrow-alt-right"></i></btn>-->
                                                    <!--    </a>-->
                                                    <!--</div>-->
                                                </div>
                                            </li>
                                           
                                      
                                        </ul>
                            </div>
                       
       </div>
      </div>
      </div>
       </div>
     </div>