

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-5">
                        <div class="card card-user">
                            <div class="image">
                                <img src="/paper-dashboard/assets/img/background.jpg" alt="..."/>
                            </div>
                            <div class="content">
                                <div class="author">
                                  <img class="avatar border-white" src="/paper-dashboard/assets/img/faces/face-2.jpg" alt="..."/>
                                  <h4 class="title"><%= @project.repo_name%><br />
                                     <a href="#"><small>@<%= @project.repo_name%></small></a>
                                  </h4>
                                </div>
                                <p class="description text-center">
                                   <%= @project.repo_description%>
                                </p>
                            </div>
                            <hr>
                            <div class="text-center">
                                <div class="row">
                                     <% if @project.branches_count.blank? && @project.issues_count.blank? && @is_project_processing.blank? %> 
                                     <div class="col-md-6">
                                         <p> Please pay your deposit to activate the statistics </p>
                                     </div>
                                    <% elsif ! @project.branches_count.blank? && ! @project.issues_count.blank? %>
                                        <div class="col-md-3 col-md-offset-1">
                                        <h5><%= @project.branches_count %><br /><small>Branches</small></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5><%= @project.issues_count %><br /><small>Features Created</small></h5>
                                    </div>
                                    <div class="col-md-3">
                                        <h5><%= @project.closed_issues_count %><br /><small>Finished Features</small></h5>
                                    </div>
                                    <% else %>
                                     <div class="col-md-12">
                                      <p> We are busy processing your transaction , we shall notify you when we have processed the transaction</p>
                                    </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="header">
                                <h4 class="title text-center">All Features</h4>
                                <hr>
                                
                            </div>
                            <div class="content">
                                <ul class="list-unstyled team-members">
                                    <% @features.each do |feature|%>
                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <div class="avatar">
                                                            <img src="/paper-dashboard/assets/img/faces/face-0.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                       <%= feature.title %>
                                                       
                                                    </div>
                                                            


                                                    <div class="col-xs-3 text-right">
                                                        <a href="/projects/<%= @project.id %>/project_milestones/<%= feature.id%>" target= "_parent">
                                                        <btn class="btn btn-sm btn-success "><i class="fas fa-long-arrow-alt-right"></i></btn>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <% end%>
                                      
                                        </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7">
                        <div class="card">
                            <div class="header">
                                
                                <h3 class="title text-center">Project Details</h4>
                            </div>
                            <hr>
                            <div class="content">
                                 <div class="row">
                                  <div class="col-lg-6">
                                      <h5 class="title ">Your App Name</h5>
                                      <p class="text-info"><%= @project.repo_name %></p>
                                  </div>
                              </div>
                                 <div class="row">
                                  <div class="col-lg-6">
                                      <h5 class="title">Your App description</h5>
                                      <p class="text-info"><%= @project.repo_description %></p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-lg-6">
                                      <h5 class="title">Solution that your project is bringing</h5>
                                      <p class="text-info"><%= @project.project_solution_to_problem %></p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-lg-6">
                                      <h5 class="title">Project Expectation</h5>
                                      <p class="text-info"><%= @project.project_expectation%></p>
                                  </div>
                              </div>
                              
                                 <div class="row">
                    				<div class="col-xs-6">
                    				<p class="text-danger"> Edit Project Details</p>	
                    				 </div>	
                                                        <div class="col-xs-3 text-right">
                                                      <a href="/projects/<%= @project.id%>/edit">
                    					<btn class="btn btn-sm btn-success "><i class="fas fa-long-arrow-alt-right"></i></btn>
                    				</a>
                    				</div>
                    				
                    				</div>
                              
                              <% if ! @get_all_paid_features.blank? %>
                                  <div class="row">
                                  <div class="col-lg-6">
                                      <h5 class="title">Paid Features</h5>
                                   

                                      <% @paid_features.each do |feature| %>
                                      <p class="text-info"><%= feature.title%></p>
                                      <% end %>
                                  </div>
                              </div>
                               <div class="row">
				<div class="col-xs-6">
				<p class="text-danger"> Project Account Details</p>	
				 </div>	
                                    <div class="col-xs-3 text-right">
                                  <a href="/projects/<%= @project.id%>/account_details">
					<btn class="btn btn-sm btn-success "><i class="fas fa-long-arrow-alt-right"></i></btn>
				</a>
				</div>
                                </div>
                              <% end %>
                               <hr>
                                <br>
                              
                              <div class="row">
                                  <div class="col-md-8 col-md-offset-1">
                                      <div class="text-center">
                                          <% if @project_feature_count == 5 && @project_deposit_status.blank? && @is_project_processing.blank?%>
                                           
                                            <%= link_to "Pay Deposit " , new_project_pay_deposit_path(@project.id) , class: "btn btn-info btn-fill btn-wd"%>
                                            <% elsif @project_feature_count == 5 && ! @project_deposit_status.blank? %>
                                             <%= link_to "Pay Next Feature " , new_project_pay_feature_path(@project.id) , class: "btn btn-info btn-fill btn-wd"%>
                                            <% elsif @project_feature_count < 5 %>
                                            <%= link_to "Create A New Feature " ,  new_project_project_milestone_path(@project.id) , class: "btn btn-info btn-fill btn-wd"%>
                                            <% else %>
                                            <p> We are busy processing your transaction , we shall notify you when we have processed the transaction</p>
                                            <% end %>

                                         
                                         
                                    </div>
                                    <div class="clearfix"></div>
                                  </div>
                              </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
